/* стили к  header */
@media screen and (max-width:1200px){
    .home-wrapper {
        max-width:90%;
    }
}

@media screen and (max-width:768px){
    .links_logo {
        display:none;
    }
    .home-wrapper {
        max-width:100%;
    }
    .links {
        position:fixed;
        z-index:100;
        background-color:#aa9b77;
        opacity: 0.9;
        width:100%;
        top:0;
        height:7%;
        justify-content: center; 
    }
    .links nav  {
        padding-top: 10px;
    }
}
/* СТИЛИ К MAIN BLOCK */

@media screen and (max-width:768px){
    .goods-men, .goods-women  {
        padding-top: 0;
    }
    .filter-wrapper_filter {
        flex-direction: column;
        justify-content: space-around;
    }
    .filter_toggle {
        flex-wrap: wrap;
    }
    .goods-men_discription, .goods-women_discription {
        margin-bottom: 0;
    }
    .goods-list_toggle p, .goods-women .goods-list-toggle p  {
        margin-bottom: 100%;
    }
    
}











